<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Liste Paniers</title>

    <!-- Custom fonts for this template-->
    <link href="adminTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="adminTemplate/css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

	<!-- Modal add  start -->
        <th:block th:include="/default/modal"></th:block>
        <!-- Modal add end  -->

        <!-- Sidebar -->
        <th:block th:include="/default/sidebar"></th:block>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:include="/default/topbar"></th:block>
                <!-- End of topbar-->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                <div class="alert alert-danger" role="alert" th:if="${msg}" th:utext="${msg}">
                    </div>
                    <div class="alert alert-success" role="alert" th:if="${Mess}" th:utext="${Mess}">
                    </div>
                    <h1 class="h3 mb-2 text-gray-800">Clients</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Base de données clients</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <!-- if role ==> 'Super-admin' -->
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Id Panier</th>
                                            <th>IdClient</th>
                                            <th>IdProduit</th>
                                            <th>Quantité</th>
                                            <th>Image</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead>
                        <tbody>
                            <tr th:each="cart:${carts}">

                                <!-- Modal modification cart start -->
                                <div class="modal fade" th:id="'modalEditCart'+${cart.id}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modification panier
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="modCart" method="post" id="signForm"
                                                    enctype="multipart/form-data">
                                                    <input type="hidden" name="id" th:value="${cart.id}">
                                                    <div class="form-group">
                                                        <label for="idClient" class="col-form-label">Id Client :</label>
                                                        <input type="text" class="form-control" id="idClient" name="idClient"
                                                            th:value="${cart.idClient}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="idProduit" class="col-form-label">Id Produit :</label>
                                                        <input type="text" class="form-control" id="idProduit"
                                                            name="idProduit" th:value="${cart.idProduit}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="photoProduit" class="col-form-label">Image Produit :</label>
                                                        <input type="file" class="form-control" id="photoProduit" name="photoProduit">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="qteProduit" class="col-form-label">Quantité commandée :</label>
                                                        <input type="number" class="form-control" id="qteProduit"
                                                            name="qteProduit" th:value="${cart.qteProduit}">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal"
                                                            onclick="javascript:window.close()">Annuler</button>
                                                        <button type="submit" class="btn btn-primary">Modifier</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal modification cart end -->

                                <th scope="row" th:utext="${cart.id}"></th>
                                <td th:utext="${cart.idClient}"></td>
                                <td th:utext="${cart.idProduit}"></td>
                                <td th:utext="${cart.qteProduit}"></td>
                                <!-- affichage d'un media en thymeleaf -->
                                <td><img th:src="@{${'/prdUploads/'+prdImg}}" style="border-radius: 30%" width=70
                                        height=70> </td>
                                <td> <a href="#" class="btn btn-outline-danger"
                                        onclick="if(!confirm('Voulez-vous modifier ?')) return false"
                                        data-toggle="modal" th:attr="data-target='#modalEditcart'+${cart.id}">Modifier</a>
                                </td>
                                <td> <a th:href="@{'/deleteCart/'+${cart.id}}" class="btn btn-outline-warning"
                                        onclick="if(!confirm('Voulez-vous supprimer ?')) return false">Supprimer</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="logoutAdmin">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="adminTemplate/vendor/jquery/jquery.min.js"></script>
    <script src="adminTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="adminTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="adminTemplate/js/sb-admin-2.min.js"></script>
    
    <!-- Page level plugins -->
    <script src="/adminTemplate/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/adminTemplate/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/adminTemplate/js/demo/datatables-demo.js"></script>

</body>

</html>