<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Liste Produits</title>

    <!-- Custom fonts for this template-->
    <link href="/adminTemplate/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/adminTemplate/css/sb-admin-2.min.css" rel="stylesheet">
    
    <!-- Custom styles for this page -->
    <link href="vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Modal add  start -->
        <th:block th:include="/default/modal"></th:block>
        <!-- Modal add end  -->

        <!-- Sidebar -->
        <th:block th:include="/default/sidebar"></th:block>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <th:block th:include="/default/topbar"></th:block>
                <!-- End of topbar-->

                <!-- Begin Page Content -->
                <div class="container-fluid">


                   <!-- Page Heading -->
                <div class="alert alert-danger" role="alert" th:if="${msg}" th:utext="${msg}">
                    </div>
                    <div class="alert alert-success" role="alert" th:if="${Mess}" th:utext="${Mess}">
                    </div>
                    <h1 class="h3 mb-2 text-gray-800">Produits</h1>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Base de données produits</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                            <!-- if role ==> 'Super-admin' -->
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" th:if="${role == 'Super-admin'}">
                                    <thead>
                                        <tr>
                                            <th>Id Produit</th>
                                            <th>Reference</th>
                                            <th>Designation</th>
                                            <th>Prix (en €)</th>
                                            <th>Poids (en gr)</th>
                                            <th>Quantité</th>
                                            <th>Image</th>
                                            <th>Modifier</th>
                                            <th>Supprimer</th>
                                        </tr>
                                    </thead>
                        <tbody>
                            <tr th:each="prd:${produit}">

                                <!-- Modal modification produit start -->
                                <div class="modal fade" th:id="'modalEditPrd'+${prd.id}" tabindex="-1" role="dialog"
                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modifier produit
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="modPrd" method="post" id="signForm"
                                                    enctype="multipart/form-data">
                                                    <input type="hidden" name="id" th:value="${prd.id}">
                                                    <div class="form-group">
                                                        <label for="nom" class="col-form-label">Reference :</label>
                                                        <input type="text" class="form-control" id="nom" name="ref"
                                                            th:value="${prd.ref}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="designation" class="col-form-label">Designation
                                                            :</label>
                                                        <input type="text" class="form-control" id="designation"
                                                            name="designation" th:value="${prd.designation}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="prix" class="col-form-label">Prix :</label>
                                                        <input type="number" class="form-control" id="prix" name="prix"
                                                            th:value="${prd.prix}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="poids" class="col-form-label">Poids :</label>
                                                        <input type="password" class="form-control" id="poids"
                                                            name="poids" th:value="${prd.poids}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="qteProduit" class="col-form-label">Quantité
                                                            disponible:</label>
                                                        <input type="number" class="form-control" id="qteProduit"
                                                            name="qteProduit" th:value="${prd.qteProduit}">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="photo" class="col-form-label">Image :</label>
                                                        <input type="file" class="form-control" id="photo" name="photo">
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Fermer</button>
                                                        <button type="submit" name="btnFormPrd" value="btnModPrd"
                                                            class="btn btn-primary">Modifier</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal modification produit end -->

                                <th scope="row" th:utext="${prd.id}"></th>
                                <td th:utext="${prd.ref}"></td>
                                <td th:utext="${prd.designation}"></td>
                                <td th:utext="${prd.prix}"></td>
                                <td th:utext="${prd.poids}"></td>
                                <td th:utext="${prd.qteProduit}"></td>
                                <td><img th:src="@{${'/prdUploads/'+prd.photo}}" style="border-radius: 30%" width=70
                                        height=70> </td>
			                                <td> <a href="#" class="btn btn-outline-danger"
			                                        onclick="if(!confirm('Voulez-vous modifier ?')) return false"
			                                        data-toggle="modal" th:attr="data-target='#modalEditPrd'+${prd.id}">Modifier</a>
			                                </td>
			                                <td> <a th:href="@{'/deletePrd/'+${prd.id}}" class="btn btn-outline-warning"
			                                        onclick="if(!confirm('Voulez-vous supprimer ?')) return false">Supprimer</a>
			                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <!-- if role ==> 'magasinier' -->
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0" th:if="${role == 'magasinier'}">
                                    <thead>
                                        <tr>
                                            <th>Id Produit</th>
                                            <th>Reference</th>
                                            <th>Designation</th>
                                            <th>Prix (en €)</th>
                                            <th>Poids (en gr)</th>
                                            <th>Quantité</th>
                                            <th>Image</th>
                                        </tr>
                                    </thead>
                        <tbody>
                            <tr th:each="prd:${produit}">
                                <th scope="row" th:utext="${prd.id}"></th>
                                <td th:utext="${prd.ref}"></td>
                                <td th:utext="${prd.designation}"></td>
                                <td th:utext="${prd.prix}"></td>
                                <td th:utext="${prd.poids}"></td>
                                <td th:utext="${prd.qteProduit}"></td>
                                <td><img th:src="@{${'/prdUploads/'+prd.photo}}" style="border-radius: 30%" width=70
                                        height=70> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="logoutAdmin">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/adminTemplate/vendor/jquery/jquery.min.js"></script>
    <script src="/adminTemplate/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/adminTemplate/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/adminTemplate/js/sb-admin-2.min.js"></script>
    
    <!-- Page level plugins -->
    <script src="/adminTemplate/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/adminTemplate/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/adminTemplate/js/demo/datatables-demo.js"></script>

</body>

</html>